//     ##################################################################
//     ######       CONFIG FILE FOR SRC MOSAIC                     ######
//     ##################################################################
//
//  This file contains the realtime parameters for SRC MOSAIC.
//  Author:  Shunxin Wang  CIMMS/NSSL
//  05/22/2005
//  Modification history:  
//  Shun Liu   10/16/2007
// ######################################################################


// ######################################################################
//  WDSS-II related input parameters
//    input flag = 1; use WDSS-II input
//    input_flag = 0; use AWIPS input
// ######################################################################
   INPUT_FLAG: 1 
   RAD_PRODUCT: MergedReflectivityQC
   VCP_PRODUCT: MergerInputRadarsTable/MergedReflectivityQC

// ######################################################################
// dipictor name of the input netcdf file
// ######################################################################
   DEPICTORNAME:  mosaic3d

// ######################################################################
// radar_number:     # of radar in the conus
// variable number: total varible number in the netcdf file
// variable_name: all varible names listed as same order in
// original netcdf file of each tile
// ######################################################################
   RADAR_NUMBER:   160
   VARIABLE_NUMBER: 1
   VARIABLE_NAME: mrefl_mosaic

// ######################################################################
//  Parameters related to realtime operation
//  mosaic_window     time (seconds) window for finding the latest
//                    volume scans from different radars
//  mosaic_freq       frequency for running the mosaic algorithm
// ######################################################################

   MOSAIC_WINDOW:  2700
   MOSAIC_FREQ:    300

   RUCWIND_WINDOW:  800
   RUCWIND_FREQ:    300

   RUC_TSFC_WINDOW:  10800  //3 hours

   IR_MASK_WINDOW:  30000
   IR_MASK_FREQ:    900

   ECA_MASK_WINDOW:  30000
   ECA_MASK_FREQ:    3600

   CTP_MASK_WINDOW:  9000
   CTP_MASK_FREQ:    3600

// ######################################################################
//  Parameters related to input reference data 
//  g_refdata_dir:   directory for cartesian grid reference data files
//                   (e.g., terrain, basin, ...)
//  p_refdata_dir:   directory for polar grid reference data files
//                   (e.g., hybrid scan files)
//  input_nids_info:   NIDS products code and color tables
// ######################################################################

   LUT_DIR:          
   GRID_REF_DIR:    
   POLAR_REF_DIR:  
   INPUT_NIDS_INFO:

// ######################################################################
//  Parameters related to input and observational data (QCed and remapped)
// ######################################################################
   SECOND_DATA_OPT:   0
   NODE_STR:   node
   PROD_APP:   SRC3D_QC
   INPUT_DIR:         COMIN_SRCtank

   SOUNDING_DIR:  

   MODEL_DAT_DIR:
   RUC_TSFC_DIR: 
   RUCWIND_U_DIR:
   RUCWIND_V_DIR:

   SAT_MASK_QC_OPT:  0
   IR_MASK_OPT:      1
   IR_MASK_DIR: 
   ECA_MASK_OPT:     1
   ECA_MASK_DIR: 
   CTP_MASK_OPT:     1
   CTP_MASK_DIR: 
    

// ######################################################################
//  Parameters related to precip flag (units = dBZ)
// ######################################################################
   STRAT_THRESHOLD:        15
   CONV_THRESHOLD:         50
   CONV_THRESHOLD_-10:     30

// ######################################################################
//  Parameters related to bloom QC logic (T units = deg C)
// ######################################################################
   TSFC_BLOOM_THRESHOLD:   4.45
   
// ######################################################################
//  Parameters related to conus grid and conus reference data
// ######################################################################
   CONUS_REF_OPT: 1

   CONUS_NX:  701
   CONUS_NY:  351
   CONUS_NZ:  21

   CONUS_DX:   0.1
   CONUS_DY:   0.1
   CONUS_CTRLAT:  37.5
   CONUS_CTRLON:  -95.0

   SAT_CONUS_NX:  1961
   SAT_CONUS_NY:  1292
   SAT_CONUS_NZ:  1
   
   SAT_CONUS_DX:   0.0357
   SAT_CONUS_DY:   0.0271

// ######################################################################
//  nids output options and directories.
// ######################################################################

   LREF_OPT:            0
   NIDS_LREF_FLAG:      0
   NIDS_LREF_DIR:   
 
   TREF_OPT:  		0
   NIDS_TREF_FLAG:      0
   NIDS_TREF_DIR:  

   NIDS_CREF_FLAG:        0
   NIDS_CREF_DIR: 
 
   NIDS_CHGT_FLAG:        0
   NIDS_CHGT_DIR:

// ######################################################################
//  options and directories for multivariable netcdf files output
// ######################################################################

   MOSAIC2D_NETCDF_REMOTE_OUTPUT_OPT: 0
   MOSAIC2D_NETCDF_FLAG:   0
   MOSAIC2D_WDSSII_NETCDF_FLAG: 1
   MOSAIC2D_NETCDF_DIR: 

   MOSAIC2D_NETCDF_DIR_REMOTE:    

   MOSAIC3D_NETCDF_REMOTE_OUTPUT_OPT: 0
   MOSAIC3D_NETCDF_FLAG:   0
   MOSAIC3D_WDSSII_NETCDF_FLAG:   1
   MOSAIC3D_NETCDF_DIR:    REFprodtile
   MOSAIC3D_NETCDF_DIR_REMOTE:   

   TREF3D_NETCDF_FLAG:     0
   TREF3D_WDSSII_NETCDF_FLAG: 0
   TREF3D_NETCDF_DIR:     

// ######################################################################
//  options and directories for binary products
// ######################################################################
   BI_MREF_FLAG:         0
   BI_MREF_DIR:          

   BI_TREF_FLAG:        0
   BI_TREF_DIR:         

   BI_CREF_FLAG:          0
   BI_CREF_DIR:        

   BI_CHGT_FLAG:          0
   BI_CHGT_DIR:       

   BI_VIL_FLAG:        0
   BI_VIL_DIR:       

   BI_VILD_FLAG:       0
   BI_VILD_DIR:     

   BI_SHI_FLAG:        0
   BI_SHI_DIR:     

   BI_POSH_FLAG:       0
   BI_POSH_DIR:   

   BI_MEHS_FLAG:       0
   BI_MEHS_DIR:  

   BI_ETP_FLAG:      0
   BI_ETP_DIR:  

   BI_HSR_FLAG:        0
   BI_HSR_DIR:   

   BI_HSRH_FLAG:       0
   BI_HSRH_DIR: 

   BI_LCREF_FLAG:        0
   BI_LCREF_DIR:        

   BI_LCREFH_FLAG:       0
   BI_LCREFH_DIR:      

   BI_PCPFLAG_FLAG:       0
   BI_PCPFLAG_DIR:    

   LCREF_MAX_HGT:        3000 

// ######################################################################
// Grid configuration parameters.
// nx       Grid length in x-direction (meters).
// ny       Grid length in y-direction (meters).
// nz       Grid layers in z-direction.
// dx       Grid spacing in x-direction (meters).
            E-W length of the analysis grid domain is dx*(nx-1)
// dy       Grid spacing in y-direction (meters).
            N-S length of the analysis grid domain is dy*(ny-1)
// ctrlat   Latitude of the model physical domain center (deg. N).
// ctrlon   Longitude of the model physical domain center (deg. E).
// ######################################################################
   NX:  2001
   NY:  2001
   NZ:  31

   DX:  0.01
   DY:  0.01
   CTRLAT:  30.0
   CTRLON:  -100.0
 
   Z_LEVELS_MSL: 500 750 1000 1250 1500 1750 2000 2250 2500 2750 3000 3500 4000 4500 5000 5500 6000 6500 7000 7500 8000 8500 9000 10000 11000 12000 13000 14000 15000 16000 18000

// ######################################################################
//  Map projection parameters:
//
//  mapproj   Map projection option.
//          = 0, no map projection;
//          = 1, polar projection;
//          = 2, Lambert projection;
//          = 3, Mercator projection.
//          = 4, LAT/LON projection.( only choice right now )
//  trulat1   1st true latitude of map projection.
//  trulat2   2nd true latitude of map projection (used only by mapproj = 2).
//  trulon    True longitude of map projection.
// ######################################################################

  MAPPROJ:    4
  TRULAT1:    30.0
  TRULAT2:    60.0
  TRULON:     -120.00

// ######################################################################
//  Options and parameters related to terrain specification.
//
//  ternopt  Model terrain option.
//         = 0, no terrain, flat ground;
//         = 1, terrain data read in from file terndta (defined later)
//  terndta  Name of the terrain data file for ternopt=1.
//           (Note: The terrain data is currently being produced
//           using the 'arpstern' software, and it is read in by
//           subroutine "READTRN".)
//#######################################################################

   TERNOPT: 0
   TERNDTA: tile1_2001x1501_llmap.tern

// #######################################################################
// debug option for output detail info
// Swap option for NIDS output
//   swap_flag = 0,   will not do byteswap
//               1,   will do byteswap
// #######################################################################
 
   DEBUG_FLAG:  1                                              
   SWAP_FLAG:  1                                                    
 // #######################################################################
 //  Parameters related to transfering mosaic nodes to nmqserver
 //  LDM_OPT:  1 for doing transfering
 //            0 for not doing transfering
 // #######################################################################

   LDM_NETCDF_OPT: 0
   LDM_NIDS_OPT:   0
   LDM_BINARY_OPT: 0
   PQINSERT_FILE:  
   LDMD_LOG_FILE: 
   LDM_PQ_FILE:  

 // #######################################################################
 //  Parameters related to output monitor info
 // #######################################################################
   MOSAIC_INFO_FLAG:   0
   MOSAIC_INFO_DIR:  

 // #######################################################################
 // parameters of each radar  
 // #######################################################################
ID       RADAR_NAME  NX   NY   NZ  DX    DY    CTRLAT   CTRLON     NODE_NO1  NODE_NO2
RADAR001 KABR        601  601  31  0.01  0.01  45.4558  -98.4131   1         -1
RADAR002 KABX        601  601  31  0.01  0.01  35.1497  -106.8239  1         -1
RADAR003 KAKQ        921  921  31  0.01  0.01  36.9839  -77.0072   1         -1
RADAR004 KAMA        601  601  31  0.01  0.01  35.2333  -101.7092  1         -1
RADAR005 KAMX        921  921  31  0.01  0.01  25.6111  -80.4128   1         -1
RADAR006 KAPX        1201 821  31  0.01  0.01  44.9072  -84.7197   1         -1
RADAR007 KARX        601  601  31  0.01  0.01  43.8228  -91.1911   1         -1
RADAR008 KATX        1301 821  31  0.01  0.01  48.1944  -122.4958  1         -1
RADAR009 KBBX        601  601  31  0.01  0.01  39.4961  -121.6317  1         -1
RADAR010 KBGM        601  601  31  0.01  0.01  42.1997  -75.9847   1         -1
RADAR011 KBHX        1101 821  31  0.01  0.01  40.4983  -124.2919  1         -1
RADAR012 KBIS        601  601  31  0.01  0.01  46.7708  -100.7606  1         -1
RADAR013 KBIX        601  601  31  0.01  0.01  30.5239  -88.9847   -1         -1
RADAR014 KBLX        601  601  31  0.01  0.01  45.8539  -108.6067  1         -1
RADAR015 KBMX        601  601  31  0.01  0.01  33.1722  -86.7697   1         -1
RADAR016 KBOX        1101 821  31  0.01  0.01  41.9558  -71.1369   1         -1
RADAR017 KTAW        601  601  31  0.01  0.01  41.9558  -71.1369   -1         -1
RADAR018 KBRO        921  921  31  0.01  0.01  25.9161  -97.4189   1         -1
RADAR019 KBTV        601  601  31  0.01  0.01  44.5111  -73.1669   -1         -1
RADAR020 KCXX        921  921  31  0.01  0.01  44.5111  -73.1669   2         -1
RADAR021 KBUF        921  921  31  0.01  0.01  42.9489  -78.7367   1         -1
RADAR022 KBYX        921  921  31  0.01  0.01  24.5975  -81.7030   1         -1
RADAR023 KEYW        601  601  31  0.01  0.01  24.5975  -81.7030   -1        -1
RADAR024 KCAE        601  601  31  0.01  0.01  33.9486  -81.1183   2         -1
RADAR025 KCBW        1301 821  31  0.01  0.01  46.0392  -67.8064   2         -1
RADAR026 KCBX        751  541  31  0.01  0.01  43.4906  -116.2355  2         -1
RADAR027 KCCX        601  601  31  0.01  0.01  40.9231  -78.0036   2         -1
RADAR028 KCLE        601  601  31  0.01  0.01  41.4131  -81.8597   2         -1
RADAR029 KCLX        921  921  31  0.01  0.01  32.6556  -81.0422   2         -1
RADAR030 KCRI        601  601  31  0.01  0.01  35.2383  -97.4603   -1         -1
RADAR031 KOU3        601  601  31  0.01  0.01  35.2383  -97.4603   -1         -1
RADAR032 KCRP        601  601  31  0.01  0.01  27.7842  -97.5111   2         -1
RADAR033 KCYS        601  601  31  0.01  0.01  41.1519  -104.8061  2         -1
RADAR034 KDAX        601  601  31  0.01  0.01  38.5011  -121.6778  2         -1
RADAR035 KDDC        601  601  31  0.01  0.01  37.7608  -99.9689   2         -1
RADAR036 KDFX        921  921  31  0.01  0.01  29.2728  -100.2806  2         -1
RADAR037 KDIX        921  921  31  0.01  0.01  39.9469  -74.4108   2         -1
RADAR038 KDLH        1201 821  31  0.01  0.01  46.8369  -92.2097   2         -1
RADAR039 KDMX        601  601  31  0.01  0.01  41.7311  -93.7228   2         -1
RADAR040 KDOX        921  921  31  0.01  0.01  38.8256  -75.4397   2         -1
RADAR041 KDTX        601  601  31  0.01  0.01  42.6997  -83.4717   2         -1
RADAR042 KDVN        601  601  31  0.01  0.01  41.6117  -90.5808   3         -1
RADAR043 KDYX        601  601  31  0.01  0.01  32.5383  -99.2544   3         -1
RADAR044 KEAX        601  601  31  0.01  0.01  38.8103  -94.2644   3         -1
RADAR045 KEMX        921  921  31  0.01  0.01  31.8936  -110.6303  3         -1
RADAR046 KENX        601  601  31  0.01  0.01  42.5864  -74.0639   3         -1
RADAR047 KEOX        601  601  31  0.01  0.01  31.4606  -85.4594   3         -1
RADAR048 KEPZ        921  921  31  0.01  0.01  31.8731  -106.6981  3         -1
RADAR049 KESX        601  601  31  0.01  0.01  35.7011  -114.8914  3         -1
RADAR050 KEVX        921  921  31  0.01  0.01  30.5644  -85.9214   3         -1
RADAR051 KEWX        601  601  31  0.01  0.01  29.7039  -98.0283   3         -1
RADAR052 KEYX        601  601  31  0.01  0.01  35.0978  -117.5608  3         -1
RADAR053 KFCX        601  601  31  0.01  0.01  37.0244  -80.2739   3         -1
RADAR054 KFDR        601  601  31  0.01  0.01  34.3622  -98.9764   3         -1
RADAR055 KFDX        601  601  31  0.01  0.01  34.6353  -103.6300  3         -1
RADAR056 KFFC        601  601  31  0.01  0.01  33.3628  -84.5658   3         -1
RADAR057 KFSD        601  601  31  0.01  0.01  43.5878  -96.7294   3         -1
RADAR058 KFSX        601  601  31  0.01  0.01  34.5744  -111.1978  3         -1
RADAR059 KFTG        601  601  31  0.01  0.01  39.7867  -104.5458  3         -1
RADAR060 KFWS        601  601  31  0.01  0.01  32.5731  -97.3031   4         -1
RADAR061 KGGW        1201 821  31  0.01  0.01  48.2064  -106.6250  4         -1
RADAR062 KGJX        601  601  31  0.01  0.01  39.0622  -108.2139  4         -1
RADAR063 KGLD        601  601  31  0.01  0.01  39.3669  -101.7003  4         -1
RADAR064 KGRB        601  601  31  0.01  0.01  44.4983  -88.1114   4         -1
RADAR065 KGRK        601  601  31  0.01  0.01  30.7219  -97.3831   4         -1
RADAR066 KGRR        601  601  31  0.01  0.01  42.8939  -85.5447   4         -1
RADAR067 KGSP        601  601  31  0.01  0.01  34.8833  -82.2200   4         -1
RADAR068 KGWX        601  601  31  0.01  0.01  33.8967  -88.3289   4         -1
RADAR069 KGYX        1201 821  31  0.01  0.01  43.8914  -70.2564   4         -1
RADAR070 KHDX        601  601  31  0.01  0.01  33.0764  -106.1228  4         -1
RADAR071 KWSD        601  601  31  0.01  0.01  33.0764  -106.1228  3         -1
RADAR072 KHGX        921  921  31  0.01  0.01  29.4719  -95.0792   4         -1
RADAR073 KHNX        1001 821  31  0.01  0.01  36.3142  -119.6322  4         -1
RADAR074 KHPX        601  601  31  0.01  0.01  36.7367  -87.2850   4         -1
RADAR075 KHTX        601  601  31  0.01  0.01  34.9306  -86.0833   4         -1
RADAR076 KICT        601  601  31  0.01  0.01  37.6547  -97.4428   4         -1
RADAR077 KICX        701  541  31  0.01  0.01  37.5908  -112.8622  4         -1
RADAR078 KILN        601  601  31  0.01  0.01  39.4203  -83.8217   4         -1
RADAR079 KILX        601  601  31  0.01  0.01  40.1506  -89.3369   5         -1
RADAR080 KIND        601  601  31  0.01  0.01  39.7075  -86.2803   5         -1
RADAR081 KINS        601  601  31  0.01  0.01  34.7761  -76.8761   -1         -1
RADAR082 KMHX        1001 821  31  0.01  0.01  34.7761  -76.8761   6         -1
RADAR083 KINX        601  601  31  0.01  0.01  36.1750  -95.5647   5         -1
RADAR084 KIWA        601  601  31  0.01  0.01  33.2892  -111.6700  5         -1
RADAR085 KIWX        601  601  31  0.01  0.01  41.3589  -85.7000   5         -1
RADAR086 KJAN        601  601  31  0.01  0.01  32.3178  -90.0800   -1         -1
RADAR087 KJAX        921  921  31  0.01  0.01  30.4847  -81.7019   5         -1
RADAR088 KJGX        601  601  31  0.01  0.01  32.6753  -83.3511   5         -1
RADAR089 KWRB        601  601  31  0.01  0.01  32.6753  -83.3511   -1         -1
RADAR090 KJKL        601  601  31  0.01  0.01  37.5908  -83.3131   5         -1
RADAR091 KLBB        601  601  31  0.01  0.01  33.6542  -101.8142  5         -1
RADAR092 KLCH        921  921  31  0.01  0.01  30.1253  -93.2158   5         -1
RADAR093 KLIX        921  921  31  0.01  0.01  30.3367  -89.8256   5         -1
RADAR094 KLNX        601  601  31  0.01  0.01  41.9578  -100.5764  5         -1
RADAR095 KLOT        601  601  31  0.01  0.01  41.6047  -88.0847   5         -1
RADAR096 KLRX        601  601  31  0.01  0.01  40.7397  -116.8028  5         -1
RADAR097 KLSX        601  601  31  0.01  0.01  38.6989  -90.6828   5         -1
RADAR098 KLTX        921  921  31  0.01  0.01  33.9894  -78.4289   5         -1
RADAR099 KLVX        601  601  31  0.01  0.01  37.9753  -85.9439   5         -1
RADAR100 KLWX        601  601  31  0.01  0.01  38.9753  -77.4778   5         -1
RADAR101 KLZK        601  601  31  0.01  0.01  34.8364  -92.2622   6         -1
RADAR102 KMAF        921  921  31  0.01  0.01  31.9433  -102.1892  6         -1
RADAR103 KMAX        1101 821  31  0.01  0.01  42.0811  -122.7172  6         -1
RADAR104 KMBX        921  921  31  0.01  0.01  48.3925  -100.8650  6         -1
RADAR105 KMKX        601  601  31  0.01  0.01  42.9678  -88.5506   6         -1
RADAR106 KMLB        921  921  31  0.01  0.01  28.1133  -80.6542   6         -1
RADAR107 KMOB        921  921  31  0.01  0.01  30.6794  -88.2397   6         -1
RADAR108 KMPX        601  601  31  0.01  0.01  44.8489  -93.5656   6         -1
RADAR109 KMQT        1201 821  31  0.01  0.01  46.5311  -87.5483   6         -1
RADAR110 KMRX        601  601  31  0.01  0.01  36.1686  -83.4017   6         -1
RADAR111 KMSX        921  921  31  0.01  0.01  47.0411  -113.9861  6         -1
RADAR112 KMTX        601  601  31  0.01  0.01  41.2628  -112.4478  6         -1
RADAR113 KMUX        921  921  31  0.01  0.01  37.1553  -121.8983  6         -1
RADAR114 KMVX        1201 821  31  0.01  0.01  47.5278  -97.3256   6         -1
RADAR115 KMXF        601  601  31  0.01  0.01  32.5367  -85.7897   -1         -1
RADAR116 KMXX        601  601  31  0.01  0.01  32.5367  -85.7897   6         -1
RADAR117 KNKX        921  921  31  0.01  0.01  32.9189  -117.0419  6         -1
RADAR118 KNQA        601  601  31  0.01  0.01  35.3447  -89.8733   6         -1
RADAR119 KOAX        601  601  31  0.01  0.01  41.3203  -96.3667   7         -1
RADAR120 KOHX        601  601  31  0.01  0.01  36.2472  -86.5625   7         -1
RADAR121 KOKX        921  921  31  0.01  0.01  40.8656  -72.8639   7         -1
RADAR122 KOTX        921  921  31  0.01  0.01  47.6803  -117.6267  7         -1
RADAR123 KOUN        601  601  31  0.01  0.01  35.2361  -97.4633   -1         -1
RADAR124 KPAH        601  601  31  0.01  0.01  37.0683  -88.7719   7         -1
RADAR125 KPBZ        601  601  31  0.01  0.01  40.5317  -80.2181   7         -1
RADAR126 KPDT        751  541  31  0.01  0.01  45.6906  -118.8528  7         -1
RADAR127 KPOE        601  601  31  0.01  0.01  31.1556  -92.9758   7         -1
RADAR128 KPUX        601  601  31  0.01  0.01  38.4594  -104.1814  7         -1
RADAR129 KRAX        601  601  31  0.01  0.01  35.6656  -78.4897   7         -1
RADAR130 KRGX        601  601  31  0.01  0.01  39.7542  -119.4622  7         -1
RADAR131 KRIW        601  601  31  0.01  0.01  43.0661  -108.4772  7         -1
RADAR132 KRIX        601  601  31  0.01  0.01  33.5983  -117.1203  -1         -1
RADAR133 KRLX        601  601  31  0.01  0.01  38.3111  -81.7231   7         -1
RADAR134 KRMX        601  601  31  0.01  0.01  43.4678  -75.4578   -1         -1
RADAR135 KRTX        1201 821  31  0.01  0.01  45.7147  -122.9653  7         -1
RADAR136 KSFX        601  601  31  0.01  0.01  43.1058  -112.6861  7         -1
RADAR137 KSGF        601  601  31  0.01  0.01  37.2353  -93.4006   7         -1
RADAR138 KSHV        601  601  31  0.01  0.01  32.4508  -93.8414   7         -1
RADAR139 KSJT        601  601  31  0.01  0.01  31.3714  -100.4925  7         -1
RADAR140 KSOX        921  921  31  0.01  0.01  33.8178  -117.6358  8         -1
RADAR141 KSRX        601  601  31  0.01  0.01  35.2906  -94.3617   8         -1
RADAR142 KTBW        921  921  31  0.01  0.01  27.7056  -82.4017   8         -1
RADAR143 KTFX        921  921  31  0.01  0.01  47.4597  -111.3853  8         -1
RADAR144 KTLH        921  921  31  0.01  0.01  30.3975  -84.3289   8         -1
RADAR145 KTLX        601  601  31  0.01  0.01  35.3331  -97.2778   8         -1
RADAR146 KOKC        601  601  31  0.01  0.01  35.3331  -97.2778   -1         -1
RADAR147 KTWX        601  601  31  0.01  0.01  38.9969  -96.2325   8         -1
RADAR148 KTOP        601  601  31  0.01  0.01  38.9969  -96.2325   -1         -1
RADAR149 KTYX        921  921  31  0.01  0.01  43.7558  -75.6800   8         -1
RADAR150 KUDX        601  601  31  0.01  0.01  44.1250  -102.8297  8         -1
RADAR151 KUEX        601  601  31  0.01  0.01  40.3208  -98.4419   8         -1
RADAR152 KVAX        601  601  31  0.01  0.01  30.3903  -83.0017   8         -1
RADAR153 KVBG        601  601  31  0.01  0.01  34.8381  -120.3961  -1         -1
RADAR154 KVBX        921  921  31  0.01  0.01  34.8381  -120.3969  8         -1
RADAR155 KVNX        601  601  31  0.01  0.01  36.7408  -98.1278   8         -1
RADAR156 KVTX        921  921  31  0.01  0.01  34.4117  -119.1794  8         -1
RADAR157 KYUM        601  601  31  0.01  0.01  32.4953  -114.6567  -1         -1
RADAR158 KYUX        921  921  31  0.01  0.01  32.4953  -114.6567  8         -1
RADAR159 KDGX        601  601  31  0.01  0.01  32.2799  -89.9843   2         -1
RADAR160 KVWX        601  601  31  0.01  0.01  38.2603  -87.7245   2         -1
// #######################################################################
//  Parameters related to archived operation
// ######################################################################
   ARC_OPT: 1

   YEAR_ARC:   YYYYYY
   MONTH_ARC:  MMMMMM
   DAY_ARC:    DDDDDD
   HOUR_ARC:   HHHHHH
   MINUTE_ARC: NNNNNN

// #######################################################################
// END_OF_FILE
// ######################################################################

